@page "/Board"
<h3>Board</h3>

<p>
    <a class=" btn btn-primary" href="/Board/ViewTickets">ViewTicket</a>
    <a class=" btn btn-primary" href="/Board/PredictData">PredictData</a>
    <a class=" btn btn-primary" href="/Board/ProductivityReport">ProductivityReport</a>
</p>

@code {

}
