@page "/Dashboard"

<h3>Dashboard</h3>
<p>
    <a class=" btn btn-primary" href="/Dashboard/CreateCompany">createcompany</a>
    <a class=" btn btn-primary" href="/Dashboard/CreateProject">createproject</a>
    <a class=" btn btn-primary" href="/Dashboard/CreateUser">createuser</a>
</p>
@code {

}
